<nb-card>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb" sttle="float:right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Quota Allocation</li>
        </ol>
    </nav>
    <div class="container-fluid" [ngSwitch]="content">
        <div *ngSwitchDefault>

            <h4 class="page_name"> Quota Allocation</h4>
            <div class="row">
                <div class="col-md-6">

                </div>
                <div class="col-md-6">
                    <form>
                        <div class="form-group form-inline right">
                            Search:
                            <input class="form-control ml-2" type="text" [formControl]="filter" />
                        </div>
                    </form>
                </div>
            </div>
            <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">OUName</th>
                        <th scope="col">Project Name</th>
                        <th scope="col">Cloud Type</th>
                        <th scope="col">Total Allocation</th>
                        <th scope="col">Consumption</th>
                        <th scope="col">NewAllocation</th>
                        <th scope="col">Approved</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let qa of qas$ | async | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
                        <th scope="row">{{ i + 1 }}</th>
                        <td>
                                    <p class="viewou" (click)="content='showSubContentTwo'">
                                <ngb-highlight [result]="qa.OUName" [term]="filter.value"></ngb-highlight>
                            </p>
                        </td>
                        <td>
                            <ngb-highlight [result]="qa.ProjectName" [term]="filter.value"></ngb-highlight>
                        </td>
                        <td>
                            <ngb-highlight [result]="qa.CloudType" [term]="filter.value"></ngb-highlight>
                        </td>
                        <td colspan="3">
                            <div class="progress">
                                <div class="progress-bar progress-bar-success" role="progressbar"
                                    [ngStyle]="{ 'width': qa.TotalAllocation.per+ '%' }">
                                    ${{qa.TotalAllocation.amt}}
                                </div>
                                <div class="progress-bar progress-bar-warning" role="progressbar"
                                    [ngStyle]="{ 'width': qa.Consumption.per+ '%' }">
                                    ${{qa.Consumption.amt}}
                                </div>
                                <div class="progress-bar progress-bar-danger" role="progressbar"
                                    [ngStyle]="{ 'width': qa.NewAllocation.per+ '%' }">
                                    ${{qa.NewAllocation.amt}}
                                </div>
                                <!--     <div class="progress-bar progress-bar-free" role="progressbar" style="width:30%">
                                $1200
                            </div>-->
                            </div>
                        </td>
                        <td>
                            <ngb-highlight [result]="qa.Approved" [term]="filter.value"></ngb-highlight>
                        </td>
                        <td>
                            <div style="display: flex;"><i class="nb-edit edit" (click)="content='showSubContent'"></i>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
        </div>
        <div *ngSwitchCase="'showSubContent'">
                <h4 class="page_name"> Edit quota allocation</h4>
                <button mat-raised-button (click)="content='showMainContent'" style="margin-bottom: 10px">
                    <mat-icon>keyboard_arrow_left</mat-icon>Back
                </button>
                <br>
                <form action="">
                    <div class="form-group">
                        <label for="ouname">OU Name:</label>
                        <input type="text" class="form-control" value="acemtest" id="ouadmin">
                    </div>
                    <div class="form-group">
                        <label for="ouadmin">Project Name:</label>
                        <input type="text" class="form-control" value="ecommerce" id="ouadmin">
                    </div>
                    <div class="form-group">
                        <label for="sel1">Cloud Type:</label>
                        <select class="form-control" id="sel1">
                            <option>Please Choose </option>
                            <option selected>AWS</option>
                            <option>Azure</option>
                            <option>Google</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="qa">Total Allocation:</label>                       
                        <input type="text" class="form-control" id="ouadmin" value="900"> 
                    </div>
                    <div class="form-group">
                        <label for="qa">Consumption:</label>
                        <input type="text" class="form-control" id="ouadmin">
                    </div>
                    <div class="form-group">
                        <label for="qa">New Allocation:</label><br>
                        <input type="text" class="form-control" id="ouadmin">
                    </div>
                    <div class="form-group">
                            <label for="qa">Approved:</label><br>
                            <input type="text" class="form-control" id="ouadmin">
                        </div><br>
                </form>
    
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" (click)="c('Save click')">Update</button>
                </div>
            </div>
            <div *ngSwitchCase="'showSubContentTwo'">
                    <h4 class="page_name"> Quota allocation Detail</h4>
                    <button mat-raised-button (click)="content='showMainContent'" style="margin-bottom: 10px">
                        <mat-icon>keyboard_arrow_left</mat-icon>Back
                    </button>
                    <br>
                    <form action="">
                        <div class="form-group">
                            <label for="ouname">OU Name:</label>acemtest
                        </div>
                        <div class="form-group">
                            <label for="ouadmin">Project Name:</label>ecommerce
                        </div>
                        <div class="form-group">
                            <label for="sel1">Cloud Type:</label>AWS
                        </div>
                        <div class="form-group">
                            <label for="qa">Total Allocation:</label>$900                    
                        </div>
                        <div class="form-group">
                            <label for="qa">Consumption:</label>
                        </div>
                        <div class="form-group">
                            <label for="qa">New Allocation:</label>
                        </div>
                        <div class="form-group">
                                <label for="qa">Approved:</label>1
                            </div><br>
                    </form>
        
                </div>
        </div>
</nb-card>