<nb-card>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb" sttle="float:right">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Subscription</li>
    </ol>
  </nav>
  <div class="container-fluid" [ngSwitch]="content">
    <div *ngSwitchDefault>

      <h4 class="page_name">Subscriptions</h4>
      <div class="col-md-12">
        <button mat-raised-button color="primary" class="pos" (click)="content='showSubContent'">
          <mat-icon>add</mat-icon>
        </button>
        <mat-tab-group (selectedTabChange)="onLinkClick($event)">
          <mat-tab label="AWS">
            <ng-template mat-tab-label>
              <mat-icon>home</mat-icon>
              AWS
            </ng-template>
            <ng-template matTabContent>
              <div class="body">
                <div class="table-responsive">

                  <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                    <thead>
                      <tr>
                        <th>Subscription Name</th>
                        <th>Subscription ID</th>
                        <th>Quota</th>
                        <th>Consumption</th>
                        <th>No Of OU</th>
                        <th>No Of Projects</th>
                        <th>Owner</th>

                        <th>Edit/Delete</th>

                      </tr>
                    </thead>

                    <tbody>
                      <tr>
                        <td>Tiger Nixon</td>
                        <td>System Architect</td>
                        <td>Edinburgh</td>
                        <td>61</td>
                        <td>61</td>
                        <td>5</td>
                        <td>John Doe</td>

                        <td>
                          <div style="display: flex;"><i (click)="content='showSubContentTwo'"
                              class="nb-edit edit"></i>&nbsp;
                            <i class="nb-trash delete" (click)="info('Some info....')"></i>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Garrett Winters</td>
                        <td>Accountant</td>
                        <td>Tokyo</td>
                        <td>63</td>
                        <td>61</td>
                        <td>5</td>
                        <td>John Doe</td>

                        <td>
                          <div style="display: flex;"><i (click)="content='showSubContentTwo'"
                              class="nb-edit edit"></i>&nbsp;
                            <i class="nb-trash delete"></i>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Ashton Cox</td>
                        <td>Junior Technical Author</td>
                        <td>San Francisco</td>
                        <td>66</td>
                        <td>61</td>
                        <td>5</td>
                        <td>John Doe</td>

                        <td>
                          <div style="display: flex;"><i (click)="content='showSubContentTwo'"
                              class="nb-edit edit"></i>&nbsp;
                            <i class="nb-trash delete"></i>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Cedric Kelly</td>
                        <td>Senior Javascript Developer</td>
                        <td>Edinburgh</td>
                        <td>22</td>
                        <td>61</td>
                        <td>5</td>
                        <td>John Doe</td>

                        <td>
                          <div style="display: flex;"><i (click)="content='showSubContentTwo'"
                              class="nb-edit edit"></i>&nbsp;
                            <i class="nb-trash delete"></i>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Airi Satou</td>
                        <td>Accountant</td>
                        <td>Tokyo</td>
                        <td>33</td>
                        <td>61</td>
                        <td>5</td>
                        <td>John Doe</td>

                        <td>
                          <div style="display: flex;"><i (click)="content='showSubContentTwo'"
                              class="nb-edit edit"></i>&nbsp;
                            <i class="nb-trash delete"></i>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Brielle Williamson</td>
                        <td>Integration Specialist</td>
                        <td>New York</td>
                        <td>61</td>
                        <td>61</td>
                        <td>5</td>
                        <td>John Doe</td>

                        <td>
                          <div style="display: flex;"><i (click)="content='showSubContentTwo'"
                              class="nb-edit edit"></i>&nbsp;
                            <i class="nb-trash delete"></i>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Herrod Chandler</td>
                        <td>Sales Assistant</td>
                        <td>San Francisco</td>
                        <td>59</td>
                        <td>61</td>
                        <td>5</td>
                        <td>John Doe</td>

                        <td>
                          <div style="display: flex;"><i (click)="content='showSubContentTwo'"
                              class="nb-edit edit"></i>&nbsp;
                            <i class="nb-trash delete"></i>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Rhona Davidson</td>
                        <td>Integration Specialist</td>
                        <td>Tokyo</td>
                        <td>55</td>
                        <td>61</td>
                        <td>5</td>
                        <td>John Doe</td>

                        <td>
                          <div style="display: flex;"><i (click)="content='showSubContentTwo'"
                              class="nb-edit edit"></i>&nbsp;
                            <i class="nb-trash delete"></i>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Colleen Hurst</td>
                        <td>Javascript Developer</td>
                        <td>San Francisco</td>
                        <td>39</td>
                        <td>61</td>
                        <td>5</td>
                        <td>John Doe</td>

                        <td>
                          <div style="display: flex;"><i (click)="content='showSubContentTwo'"
                              class="nb-edit edit"></i>&nbsp;
                            <i class="nb-trash delete"></i>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Sonya Frost</td>
                        <td>Software Engineer</td>
                        <td>Edinburgh</td>
                        <td>23</td>
                        <td>61</td>
                        <td>5</td>
                        <td>John Doe</td>

                        <td>
                          <div style="display: flex;"><i (click)="content='showSubContentTwo'"
                              class="nb-edit edit"></i>&nbsp;
                            <i class="nb-trash delete"></i>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Jena Gaines</td>
                        <td>Office Manager</td>
                        <td>London</td>
                        <td>30</td>
                        <td>61</td>
                        <td>5</td>
                        <td>John Doe</td>

                        <td>
                          <div style="display: flex;"><i (click)="content='showSubContentTwo'"
                              class="nb-edit edit"></i>&nbsp;
                            <i class="nb-trash delete"></i>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </ng-template>

          </mat-tab>
          <mat-tab label="AZURE">

            <ng-template mat-tab-label>
              <mat-icon>face</mat-icon>
              AZURE
            </ng-template>
            <ng-template matTabContent>
              <div class="body">
                <div class="table-responsive">

                  <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                    <thead>
                      <tr>
                        <th>Subscription Name</th>
                        <th>Subscription ID</th>
                        <th>Quota</th>
                        <th>Consumption</th>
                        <th>No Of OU</th>
                        <th>No Of Projects</th>
                        <th>Owner</th>

                        <th>Edit/Delete</th>

                      </tr>
                    </thead>

                    <tbody>
                      <tr>
                        <td>Tiger Nixon</td>
                        <td>System Architect</td>
                        <td>Edinburgh</td>
                        <td>61</td>
                        <td>61</td>
                        <td>5</td>
                        <td>John Doe</td>

                        <td>
                          <div style="display: flex;"><i (click)="content='showSubContentTwo'"
                              class="nb-edit edit"></i>&nbsp;
                            <i class="nb-trash delete"></i>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Garrett Winters</td>
                        <td>Accountant</td>
                        <td>Tokyo</td>
                        <td>63</td>
                        <td>61</td>
                        <td>5</td>
                        <td>John Doe</td>

                        <td>
                          <div style="display: flex;"><i (click)="content='showSubContentTwo'"
                              class="nb-edit edit"></i>&nbsp;
                            <i class="nb-trash delete"></i>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Ashton Cox</td>
                        <td>Junior Technical Author</td>
                        <td>San Francisco</td>
                        <td>66</td>
                        <td>61</td>
                        <td>5</td>
                        <td>John Doe</td>

                        <td>
                          <div style="display: flex;"><i (click)="content='showSubContentTwo'"
                              class="nb-edit edit"></i>&nbsp;
                            <i class="nb-trash delete"></i>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Cedric Kelly</td>
                        <td>Senior Javascript Developer</td>
                        <td>Edinburgh</td>
                        <td>22</td>
                        <td>61</td>
                        <td>5</td>
                        <td>John Doe</td>

                        <td>
                          <div style="display: flex;"><i (click)="content='showSubContentTwo'"
                              class="nb-edit edit"></i>&nbsp;
                            <i class="nb-trash delete"></i>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Airi Satou</td>
                        <td>Accountant</td>
                        <td>Tokyo</td>
                        <td>33</td>
                        <td>61</td>
                        <td>5</td>
                        <td>John Doe</td>

                        <td>
                          <div style="display: flex;"><i (click)="content='showSubContentTwo'"
                              class="nb-edit edit"></i>&nbsp;
                            <i class="nb-trash delete"></i>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Brielle Williamson</td>
                        <td>Integration Specialist</td>
                        <td>New York</td>
                        <td>61</td>
                        <td>61</td>
                        <td>5</td>
                        <td>John Doe</td>

                        <td>
                          <div style="display: flex;"><i (click)="content='showSubContentTwo'"
                              class="nb-edit edit"></i>&nbsp;
                            <i class="nb-trash delete"></i>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Herrod Chandler</td>
                        <td>Sales Assistant</td>
                        <td>San Francisco</td>
                        <td>59</td>
                        <td>61</td>
                        <td>5</td>
                        <td>John Doe</td>

                        <td>
                          <div style="display: flex;"><i (click)="content='showSubContentTwo'"
                              class="nb-edit edit"></i>&nbsp;
                            <i class="nb-trash delete"></i>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Rhona Davidson</td>
                        <td>Integration Specialist</td>
                        <td>Tokyo</td>
                        <td>55</td>
                        <td>61</td>
                        <td>5</td>
                        <td>John Doe</td>

                        <td>
                          <div style="display: flex;"><i (click)="content='showSubContentTwo'"
                              class="nb-edit edit"></i>&nbsp;
                            <i class="nb-trash delete"></i>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Colleen Hurst</td>
                        <td>Javascript Developer</td>
                        <td>San Francisco</td>
                        <td>39</td>
                        <td>61</td>
                        <td>5</td>
                        <td>John Doe</td>

                        <td>
                          <div style="display: flex;"><i (click)="content='showSubContentTwo'"
                              class="nb-edit edit"></i>&nbsp;
                            <i class="nb-trash delete"></i>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Sonya Frost</td>
                        <td>Software Engineer</td>
                        <td>Edinburgh</td>
                        <td>23</td>
                        <td>61</td>
                        <td>5</td>
                        <td>John Doe</td>

                        <td>
                          <div style="display: flex;"><i (click)="content='showSubContentTwo'"
                              class="nb-edit edit"></i>&nbsp;
                            <i class="nb-trash delete"></i>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Jena Gaines</td>
                        <td>Office Manager</td>
                        <td>London</td>
                        <td>30</td>
                        <td>61</td>
                        <td>5</td>
                        <td>John Doe</td>

                        <td>
                          <div style="display: flex;"><i (click)="content='showSubContentTwo'"
                              class="nb-edit edit"></i>&nbsp;
                            <i class="nb-trash delete"></i>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </ng-template>
          </mat-tab>
          <mat-tab label="GOOGLE">
            <ng-template mat-tab-label>
              <mat-icon>email</mat-icon>
              GOOGLE
            </ng-template>
            <ng-template matTabContent>
              <div class="body">
                <div class="table-responsive">

                  <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                    <thead>
                      <tr>
                        <th>Subscription Name</th>
                        <th>Subscription ID</th>
                        <th>Quota</th>
                        <th>Consumption</th>
                        <th>No Of OU</th>
                        <th>No Of Projects</th>
                        <th>Owner</th>

                        <th>Edit/Delete</th>

                      </tr>
                    </thead>

                    <tbody>
                      <tr>
                        <td>Tiger Nixon</td>
                        <td>System Architect</td>
                        <td>Edinburgh</td>
                        <td>61</td>
                        <td>61</td>
                        <td>5</td>
                        <td>John Doe</td>

                        <td>
                          <div style="display: flex;"><i (click)="content='showSubContentTwo'"
                              class="nb-edit edit"></i>&nbsp;
                            <i class="nb-trash delete"></i>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Garrett Winters</td>
                        <td>Accountant</td>
                        <td>Tokyo</td>
                        <td>63</td>
                        <td>61</td>
                        <td>5</td>
                        <td>John Doe</td>

                        <td>
                          <div style="display: flex;"><i (click)="content='showSubContentTwo'"
                              class="nb-edit edit"></i>&nbsp;
                            <i class="nb-trash delete"></i>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Ashton Cox</td>
                        <td>Junior Technical Author</td>
                        <td>San Francisco</td>
                        <td>66</td>
                        <td>61</td>
                        <td>5</td>
                        <td>John Doe</td>

                        <td>
                          <div style="display: flex;"><i (click)="content='showSubContentTwo'"
                              class="nb-edit edit"></i>&nbsp;
                            <i class="nb-trash delete"></i>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Cedric Kelly</td>
                        <td>Senior Javascript Developer</td>
                        <td>Edinburgh</td>
                        <td>22</td>
                        <td>61</td>
                        <td>5</td>
                        <td>John Doe</td>

                        <td>
                          <div style="display: flex;"><i (click)="content='showSubContentTwo'"
                              class="nb-edit edit"></i>&nbsp;
                            <i class="nb-trash delete"></i>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Airi Satou</td>
                        <td>Accountant</td>
                        <td>Tokyo</td>
                        <td>33</td>
                        <td>61</td>
                        <td>5</td>
                        <td>John Doe</td>

                        <td>
                          <div style="display: flex;"><i (click)="content='showSubContentTwo'"
                              class="nb-edit edit"></i>&nbsp;
                            <i class="nb-trash delete"></i>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Brielle Williamson</td>
                        <td>Integration Specialist</td>
                        <td>New York</td>
                        <td>61</td>
                        <td>61</td>
                        <td>5</td>
                        <td>John Doe</td>

                        <td>
                          <div style="display: flex;"><i (click)="content='showSubContentTwo'"
                              class="nb-edit edit"></i>&nbsp;
                            <i class="nb-trash delete"></i>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Herrod Chandler</td>
                        <td>Sales Assistant</td>
                        <td>San Francisco</td>
                        <td>59</td>
                        <td>61</td>
                        <td>5</td>
                        <td>John Doe</td>

                        <td>
                          <div style="display: flex;"><i (click)="content='showSubContentTwo'"
                              class="nb-edit edit"></i>&nbsp;
                            <i class="nb-trash delete"></i>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Rhona Davidson</td>
                        <td>Integration Specialist</td>
                        <td>Tokyo</td>
                        <td>55</td>
                        <td>61</td>
                        <td>5</td>
                        <td>John Doe</td>

                        <td>
                          <div style="display: flex;"><i (click)="content='showSubContentTwo'"
                              class="nb-edit edit"></i>&nbsp;
                            <i class="nb-trash delete"></i>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Colleen Hurst</td>
                        <td>Javascript Developer</td>
                        <td>San Francisco</td>
                        <td>39</td>
                        <td>61</td>
                        <td>5</td>
                        <td>John Doe</td>

                        <td>
                          <div style="display: flex;"><i (click)="content='showSubContentTwo'"
                              class="nb-edit edit"></i>&nbsp;
                            <i class="nb-trash delete"></i>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Sonya Frost</td>
                        <td>Software Engineer</td>
                        <td>Edinburgh</td>
                        <td>23</td>
                        <td>61</td>
                        <td>5</td>
                        <td>John Doe</td>

                        <td>
                          <div style="display: flex;"><i (click)="content='showSubContentTwo'"
                              class="nb-edit edit"></i>&nbsp;
                            <i class="nb-trash delete"></i>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Jena Gaines</td>
                        <td>Office Manager</td>
                        <td>London</td>
                        <td>30</td>
                        <td>61</td>
                        <td>5</td>
                        <td>John Doe</td>

                        <td>
                          <div style="display: flex;"><i (click)="content='showSubContentTwo'"
                              class="nb-edit edit"></i>&nbsp;
                            <i class="nb-trash delete"></i>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </ng-template>
          </mat-tab>
          <mat-tab label="ALL">
            <ng-template mat-tab-label>
              <mat-icon>settings</mat-icon>
              ALL
            </ng-template>
            <ng-template matTabContent>
              <div class="body">
                <div class="table-responsive">

                  <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                    <thead>
                      <tr>
                        <th>Subscription Name</th>
                        <th>Subscription ID</th>
                        <th>Quota</th>
                        <th>Consumption</th>
                        <th>No Of OU</th>
                        <th>No Of Projects</th>
                        <th>Owner</th>

                        <th>Edit/Delete</th>

                      </tr>
                    </thead>

                    <tbody>
                      <tr>
                        <td>Tiger Nixon</td>
                        <td>System Architect</td>
                        <td>Edinburgh</td>
                        <td>61</td>
                        <td>61</td>
                        <td>5</td>
                        <td>John Doe</td>

                        <td>
                          <div style="display: flex;"><i (click)="content='showSubContentTwo'"
                              class="nb-edit edit"></i>&nbsp;
                            <i class="nb-trash delete"></i>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Garrett Winters</td>
                        <td>Accountant</td>
                        <td>Tokyo</td>
                        <td>63</td>
                        <td>61</td>
                        <td>5</td>
                        <td>John Doe</td>

                        <td>
                          <div style="display: flex;"><i (click)="content='showSubContentTwo'"
                              class="nb-edit edit"></i>&nbsp;
                            <i class="nb-trash delete"></i>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Ashton Cox</td>
                        <td>Junior Technical Author</td>
                        <td>San Francisco</td>
                        <td>66</td>
                        <td>61</td>
                        <td>5</td>
                        <td>John Doe</td>

                        <td>
                          <div style="display: flex;"><i (click)="content='showSubContentTwo'"
                              class="nb-edit edit"></i>&nbsp;
                            <i class="nb-trash delete"></i>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Cedric Kelly</td>
                        <td>Senior Javascript Developer</td>
                        <td>Edinburgh</td>
                        <td>22</td>
                        <td>61</td>
                        <td>5</td>
                        <td>John Doe</td>

                        <td>
                          <div style="display: flex;"><i (click)="content='showSubContentTwo'"
                              class="nb-edit edit"></i>&nbsp;
                            <i class="nb-trash delete"></i>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Airi Satou</td>
                        <td>Accountant</td>
                        <td>Tokyo</td>
                        <td>33</td>
                        <td>61</td>
                        <td>5</td>
                        <td>John Doe</td>

                        <td>
                          <div style="display: flex;"><i (click)="content='showSubContentTwo'"
                              class="nb-edit edit"></i>&nbsp;
                            <i class="nb-trash delete"></i>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Brielle Williamson</td>
                        <td>Integration Specialist</td>
                        <td>New York</td>
                        <td>61</td>
                        <td>61</td>
                        <td>5</td>
                        <td>John Doe</td>

                        <td>
                          <div style="display: flex;"><i (click)="content='showSubContentTwo'"
                              class="nb-edit edit"></i>&nbsp;
                            <i class="nb-trash delete"></i>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Herrod Chandler</td>
                        <td>Sales Assistant</td>
                        <td>San Francisco</td>
                        <td>59</td>
                        <td>61</td>
                        <td>5</td>
                        <td>John Doe</td>

                        <td>
                          <div style="display: flex;"><i (click)="content='showSubContentTwo'"
                              class="nb-edit edit"></i>&nbsp;
                            <i class="nb-trash delete"></i>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Rhona Davidson</td>
                        <td>Integration Specialist</td>
                        <td>Tokyo</td>
                        <td>55</td>
                        <td>61</td>
                        <td>5</td>
                        <td>John Doe</td>

                        <td>
                          <div style="display: flex;"><i (click)="content='showSubContentTwo'"
                              class="nb-edit edit"></i>&nbsp;
                            <i class="nb-trash delete"></i>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Colleen Hurst</td>
                        <td>Javascript Developer</td>
                        <td>San Francisco</td>
                        <td>39</td>
                        <td>61</td>
                        <td>5</td>
                        <td>John Doe</td>

                        <td>
                          <div style="display: flex;"><i (click)="content='showSubContentTwo'"
                              class="nb-edit edit"></i>&nbsp;
                            <i class="nb-trash delete"></i>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Sonya Frost</td>
                        <td>Software Engineer</td>
                        <td>Edinburgh</td>
                        <td>23</td>
                        <td>61</td>
                        <td>5</td>
                        <td>John Doe</td>

                        <td>
                          <div style="display: flex;"><i (click)="content='showSubContentTwo'"
                              class="nb-edit edit"></i>&nbsp;
                            <i class="nb-trash delete"></i>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Jena Gaines</td>
                        <td>Office Manager</td>
                        <td>London</td>
                        <td>30</td>
                        <td>61</td>
                        <td>5</td>
                        <td>John Doe</td>

                        <td>
                          <div style="display: flex;"><i (click)="content='showSubContentTwo'"
                              class="nb-edit edit"></i>&nbsp;
                            <i class="nb-trash delete"></i>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

            </ng-template>
          </mat-tab>

        </mat-tab-group>
      </div>
    </div>
    <div *ngSwitchCase="'showSubContent'">

      <h4 class="page_name">Add new subscriptions</h4>
      <button mat-raised-button (click)="content='showMainContent'" style="margin-bottom: 10px">
        <mat-icon>keyboard_arrow_left</mat-icon>Back
    </button>
      <br>
      <div class="row">
        <div class="col-md-4 clouds">
          
            <div class="imagepos">
          <label>
            <img src="assets/images/AWS.png" class="imgsiz"><br>
            <input type="radio" name="test" ng-checked='tabvalue == "AWS"' value="aws" class="radiobtn">
          </label>
          <label>
            <img src="assets/images/azure.png" class="imgsiz"> <br>
            <input type="radio" name="test" value="azure" ng-checked='tabvalue == "AZURE"' class="radiobtn">
          </label>
          <label>
            <img src="assets/images/google.png" class="imgsiz"><br>
            <input type="radio" name="test" value="google" ng-checked='tabvalue == "GOOGLE"' class="radiobtn">
          </label>
        </div>
        </div>
        <div class="col-md-8 clouds">

          <form action="">
            <mat-horizontal-stepper linear #stepper *ngIf='tabvalue == "AWS"'>
              <mat-step [stepControl]="firstFormGroup" errorMessage="Required field missing.">
                <form [formGroup]="firstFormGroup" class="example-form">
                  <ng-template matStepLabel>Fill AWS </ng-template>
                  <div class="form-group">
                    <select class="form-control" id="sel1" formControlName="firstCtrl">
                      <option>Please Choose </option>
                      <option [selected]="tabvalue == 'AWS'">AWS</option>
                      <option [selected]="tabvalue == 'GOOGLE'">GOOGLE</option>
                      <option [selected]="tabvalue == 'AZURE'">AZURE</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="ouadmin">Subscription Name:</label>
                    <input type="text" class="form-control" id="ouadmin" formControlName="firstCtrl">
                    <p style="color: red">Field Required</p>
                  </div>
                  <div class="form-group">
                    <label for="ouadmin">Access Key:</label>
                    <input type="text" class="form-control" formControlName="firstCtrl" id="ouadmin">
                  </div>
                  <div class="form-group">
                    <label for="ouadmin">Secret Key:</label>
                    <input type="text" class="form-control" formControlName="firstCtrl" id="ouadmin">
                  </div>
                  <div>
                    <button mat-raised-button matStepperNext>Next</button>
                  </div>
                </form>
              </mat-step>
              <mat-step [stepControl]="secondFormGroup" errorMessage="Required field missing">
                <form [formGroup]="secondFormGroup">
                  <ng-template matStepLabel>Billing</ng-template>
                  <div class="form-group">
                    <label for="Buket">Buket Name:</label>
                    <input type="text" class="form-control" id="Buket" formControlName="secondCtrl">
                  </div>
                  <div class="form-group">
                    <label for="Report">Report Name:</label>
                    <input type="text" class="form-control" id="Report" formControlName="secondCtrl">
                  </div>
                  <div class="form-group">
                    <label for="Prefix">Prefix Name:</label>
                    <input type="text" class="form-control" id="Prefix" formControlName="secondCtrl">
                  </div>
                  <div class="form-group">
                    <label for="Subscriptions">Subscriptions:</label>
                    <input type="text" class="form-control" id="Subscriptions" formControlName="secondCtrl">
                  </div>
                  <div class="form-group">
                    <label for="Location">Location:</label>
                    <input type="text" class="form-control" id="Location" formControlName="secondCtrl">
                  </div>
                  <div>
                    <button mat-raised-button matStepperPrevious>
                      <mat-icon>keyboard_arrow_left</mat-icon>Back
                    </button>
                    <button mat-raised-button color="primary" (click)="save()">Submit</button>
                  </div>
                </form>
              </mat-step>
            </mat-horizontal-stepper>
            <!--AZURE-->
            <br>
            <div *ngIf='tabvalue == "AZURE"'>
              <div class="form-group">
                <select class="form-control" id="sel1">
                  <option>Please Choose </option>
                  <option [selected]="tabvalue == 'AWS'">AWS</option>
                  <option [selected]="tabvalue == 'GOOGLE'">GOOGLE</option>
                  <option [selected]="tabvalue == 'AZURE'">AZURE</option>
                </select>
              </div>
              <div class="form-group">
                <label for="ouadmin">Subscription Name:</label>
                <input type="text" class="form-control" id="ouadmin">
              </div>
              <div class="form-group">
                <label for="ouadmin">Subscription ID:</label>
                <input type="text" class="form-control" id="ouadmin">
              </div>
              <div class="form-group">
                <label for="ouadmin">Tenat ID:</label>
                <input type="text" class="form-control" id="ouadmin">
              </div>
              <div class="form-group">
                <label for="ouadmin">Application ID:</label>
                <input type="text" class="form-control" id="ouadmin">
              </div>
              <div class="form-group">
                <label for="ouadmin">Secret Key:</label>
                <input type="text" class="form-control" id="ouadmin">
              </div>
              <button mat-raised-button color="primary" (click)="save()">Submit</button>
            </div>
            <!--Google-->
            <mat-horizontal-stepper linear #stepper *ngIf='tabvalue == "GOOGLE"'>
              <mat-step [stepControl]="firstFormGroup" errorMessage="Required field missing.">
                <form [formGroup]="firstFormGroup" class="example-form">
                  <ng-template matStepLabel>Fill Google </ng-template>
                  <div class="form-group">
                    <select class="form-control" id="sel1" formControlName="firstCtrl">
                      <option>Please Choose </option>
                      <option [selected]="tabvalue == 'AWS'">AWS</option>
                      <option [selected]="tabvalue == 'GOOGLE'">GOOGLE</option>
                      <option [selected]="tabvalue == 'AZURE'">AZURE</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="ouadmin">Subscription Name:</label>
                    <input type="text" class="form-control" id="ouadmin" formControlName="firstCtrl">
                    <p style="color: red">Field Required</p>
                  </div>
                  <div class="form-group">
                    <label for="ouadmin">Project ID:</label>
                    <input type="text" class="form-control" id="ouadmin" formControlName="firstCtrl">
                  </div>
                  <div class="form-group">
                    <label for="ouadmin">API Key:</label>
                    <input type="text" class="form-control" id="ouadmin" formControlName="firstCtrl">
                  </div>
                  <div class="form-group">
                    <label for="ouadmin">Service Account Key:</label>
                    <input type="text" class="form-control" id="ouadmin" formControlName="firstCtrl">
                  </div>
                  <div>
                    <button mat-raised-button matStepperNext>Next</button>
                  </div>
                </form>
              </mat-step>
              <mat-step [stepControl]="secondFormGroup" errorMessage="Required field missing">
                <form [formGroup]="secondFormGroup">
                  <ng-template matStepLabel>Billing</ng-template>
                  <div class="form-group">
                    <label for="Subscriptions">Subscriptions:</label>
                    <input type="text" class="form-control" id="Subscriptions" formControlName="secondCtrl">
                  </div>
                  <div class="form-group">
                    <label for="Account">Account Name:</label>
                    <input type="text" class="form-control" id="Account" formControlName="secondCtrl">
                  </div>
                  <div class="form-group">
                    <label for="AccountId">Billing AccountId:</label>
                    <input type="text" class="form-control" id="AccountId" formControlName="secondCtrl">
                  </div>
                  <div class="form-group">
                    <label for="ProjectId">ProjectId:</label>
                    <input type="text" class="form-control" id="ProjectId" formControlName="secondCtrl">
                  </div>
                  <div class="form-group">
                    <label for="DatasetId">BigQuery DatasetId:</label>
                    <input type="text" class="form-control" id="DatasetId" formControlName="secondCtrl">
                  </div>
                  <div class="form-group">
                    <label for="BigQuery">BigQuery TableId:</label>
                    <input type="text" class="form-control" id="BigQuery" formControlName="secondCtrl">
                  </div>
                  <div>
                    <button mat-raised-button matStepperPrevious>
                      <mat-icon>keyboard_arrow_left</mat-icon>Back
                    </button>
                    <button mat-raised-button color="primary" (click)="save()">Submit</button>
                  </div>
                </form>
              </mat-step>
            </mat-horizontal-stepper>
            <div *ngIf='tabvalue == "ALL"'>
              <div class="form-group">
                <select class="form-control" id="sel1">
                  <option>Please Choose </option>
                  <option [selected]="tabvalue == 'AWS'">AWS</option>
                  <option [selected]="tabvalue == 'GOOGLE'">GOOGLE</option>
                  <option [selected]="tabvalue == 'AZURE'">AZURE</option>
                </select>
              </div>
              <div class="form-group">
                <label for="ouadmin">Subscription Name:</label>
                <input type="text" class="form-control" id="ouadmin">
              </div>
              <div class="form-group">
                <label for="ouadmin">Project ID:</label>
                <input type="text" class="form-control" id="ouadmin">
              </div>
              <div class="form-group">
                <label for="ouadmin">API Key:</label>
                <input type="text" class="form-control" id="ouadmin">
              </div>
              <div class="form-group">
                <label for="ouadmin">Service Account Key:</label>
                <input type="text" class="form-control" id="ouadmin">
              </div>
              <button mat-raised-button color="primary" (click)="save()">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div *ngSwitchCase="'showSubContentTwo'">
      <h4 class="page_name"> Subscription Details</h4>
      <button mat-raised-button (click)="content='showMainContent'" style="margin-bottom: 10px">
        <mat-icon>keyboard_arrow_left</mat-icon>Back
      </button>
      <br>
      <div class="row">
        <div class="col-md-4 clouds">
          <div class="imagepos">
          <label>
            <img src="assets/images/AWS.png" class="imgsiz"><br>
            <input type="radio" name="test" ng-checked='tabvalue == "AWS"' checked value="aws" class="radiobtn">
          </label>
          <label>
            <img src="assets/images/azure.png" class="imgsiz"> <br>
            <input type="radio" name="test" value="azure" ng-checked='tabvalue == "AZURE"' class="radiobtn">
          </label>
          <label>
            <img src="assets/images/google.png" class="imgsiz"><br>
            <input type="radio" name="test" value="google" ng-checked='tabvalue == "GOOGLE"' class="radiobtn">
          </label>
        </div>
      </div>
        <div class="col-md-8 clouds">
          <mat-horizontal-stepper linear #stepper *ngIf='tabvalue == "AWS"'>
            <mat-step [stepControl]="firstFormGroup" errorMessage="Required field missing.">
              <form [formGroup]="firstFormGroup" class="example-form">
                <ng-template matStepLabel>Fill AWS </ng-template>
                <div class="form-group">
                  <select class="form-control" id="sel1" formControlName="firstCtrl">
                    <option>Please Choose </option>
                    <option [selected]="tabvalue == 'AWS'" selected>AWS</option>
                    <option [selected]="tabvalue == 'GOOGLE'">GOOGLE</option>
                    <option [selected]="tabvalue == 'AZURE'">AZURE</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="ouadmin">Subscription Name:</label>
                  <input type="text" class="form-control" id="ouadmin" vlaue="Tiger Nixon" formControlName="firstCtrl">
                  <p style="color: red">Field Required</p>
                </div>
                <div class="form-group">
                  <label for="ouadmin">Access Key:</label>
                  <input type="text" class="form-control" vlaue="XXXXXX" formControlName="firstCtrl" id="ouadmin">
                </div>
                <div class="form-group">
                  <label for="ouadmin">Secret Key:</label>
                  <input type="text" class="form-control" vlaue="yyyyyy" formControlName="firstCtrl" id="ouadmin">
                </div>
                <div>
                  <button mat-raised-button matStepperNext>Next</button>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup" errorMessage="Required field missing">
              <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>Billing</ng-template>
                <div class="form-group">
                  <label for="Buket">Buket Name:</label>
                  <input type="text" class="form-control" id="Buket" formControlName="secondCtrl">
                </div>
                <div class="form-group">
                  <label for="Report">Report Name:</label>
                  <input type="text" class="form-control" id="Report" formControlName="secondCtrl">
                </div>
                <div class="form-group">
                  <label for="Prefix">Prefix Name:</label>
                  <input type="text" class="form-control" id="Prefix" formControlName="secondCtrl">
                </div>
                <div class="form-group">
                  <label for="Subscriptions">Subscriptions:</label>
                  <input type="text" class="form-control" id="Subscriptions" formControlName="secondCtrl">
                </div>
                <div class="form-group">
                  <label for="Location">Location:</label>
                  <input type="text" class="form-control" id="Location" formControlName="secondCtrl">
                </div>
                <div>
                  <button mat-raised-button matStepperPrevious>
                    <mat-icon>keyboard_arrow_left</mat-icon>Back
                  </button>
                  <button mat-raised-button color="primary" (click)="save()">Submit</button>
                </div>
              </form>
            </mat-step>
          </mat-horizontal-stepper>
          <!--AZURE-->
          <br>
          <div *ngIf='tabvalue == "AZURE"'>
            <div class="form-group">
              <select class="form-control" id="sel1">
                <option>Please Choose </option>
                <option [selected]="tabvalue == 'AWS'">AWS</option>
                <option [selected]="tabvalue == 'GOOGLE'">GOOGLE</option>
                <option [selected]="tabvalue == 'AZURE'">AZURE</option>
              </select>
            </div>
            <div class="form-group">
              <label for="ouadmin">Subscription Name:</label>
              <input type="text" class="form-control" vlaue="Tiger Nixon" id="ouadmin">
            </div>
            <div class="form-group">
              <label for="ouadmin">Subscription ID:</label>
              <input type="text" class="form-control" id="ouadmin">
            </div>
            <div class="form-group">
              <label for="ouadmin">Tenat ID:</label>
              <input type="text" class="form-control" id="ouadmin">
            </div>
            <div class="form-group">
              <label for="ouadmin">Application ID:</label>
              <input type="text" class="form-control" id="ouadmin">
            </div>
            <div class="form-group">
              <label for="ouadmin">Secret Key:</label>
              <input type="text" class="form-control" id="ouadmin">
            </div>
            <button mat-raised-button color="primary" (click)="save()">Submit</button>
          </div>
          <!--Google-->
          <mat-horizontal-stepper linear #stepper *ngIf='tabvalue == "GOOGLE"'>
            <mat-step [stepControl]="firstFormGroup" errorMessage="Required field missing.">
              <form [formGroup]="firstFormGroup" class="example-form">
                <ng-template matStepLabel>Fill Google </ng-template>
                <div class="form-group">
                  <select class="form-control" id="sel1" formControlName="firstCtrl">
                    <option>Please Choose </option>
                    <option [selected]="tabvalue == 'AWS'">AWS</option>
                    <option [selected]="tabvalue == 'GOOGLE'">GOOGLE</option>
                    <option [selected]="tabvalue == 'AZURE'">AZURE</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="ouadmin">Subscription Name:</label>
                  <input type="text" class="form-control" id="ouadmin" vlaue="Tiger Nixon" formControlName="firstCtrl">
                  <p style="color: red">Field Required</p>
                </div>
                <div class="form-group">
                  <label for="ouadmin">Project ID:</label>
                  <input type="text" class="form-control" id="ouadmin" formControlName="firstCtrl">
                </div>
                <div class="form-group">
                  <label for="ouadmin">API Key:</label>
                  <input type="text" class="form-control" id="ouadmin" formControlName="firstCtrl">
                </div>
                <div class="form-group">
                  <label for="ouadmin">Service Account Key:</label>
                  <input type="text" class="form-control" id="ouadmin" formControlName="firstCtrl">
                </div>
                <div>
                  <button mat-raised-button matStepperNext>Next</button>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup" errorMessage="Required field missing">
              <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>Billing</ng-template>
                <div class="form-group">
                  <label for="Subscriptions">Subscriptions:</label>
                  <input type="text" class="form-control" id="Subscriptions" formControlName="secondCtrl">
                </div>
                <div class="form-group">
                  <label for="Account">Account Name:</label>
                  <input type="text" class="form-control" id="Account" formControlName="secondCtrl">
                </div>
                <div class="form-group">
                  <label for="AccountId">Billing AccountId:</label>
                  <input type="text" class="form-control" id="AccountId" formControlName="secondCtrl">
                </div>
                <div class="form-group">
                  <label for="ProjectId">ProjectId:</label>
                  <input type="text" class="form-control" id="ProjectId" formControlName="secondCtrl">
                </div>
                <div class="form-group">
                  <label for="DatasetId">BigQuery DatasetId:</label>
                  <input type="text" class="form-control" id="DatasetId" formControlName="secondCtrl">
                </div>
                <div class="form-group">
                  <label for="BigQuery">BigQuery TableId:</label>
                  <input type="text" class="form-control" id="BigQuery" formControlName="secondCtrl">
                </div>
                <div>
                  <button mat-raised-button matStepperPrevious>
                    <mat-icon>keyboard_arrow_left</mat-icon>Back
                  </button>
                  <button mat-raised-button color="primary" (click)="save()">Submit</button>
                </div>
              </form>
            </mat-step>
          </mat-horizontal-stepper>
          <div *ngIf='tabvalue == "ALL"'>
            <div class="form-group">
              <select class="form-control" id="sel1">
                <option>Please Choose </option>
                <option [selected]="tabvalue == 'AWS'">AWS</option>
                <option [selected]="tabvalue == 'GOOGLE'">GOOGLE</option>
                <option [selected]="tabvalue == 'AZURE'">AZURE</option>
              </select>
            </div>
            <div class="form-group">
              <label for="ouadmin">Subscription Name:</label>
              <input type="text" class="form-control" vlaue="Tiger Nixon" id="ouadmin">
            </div>
            <div class="form-group">
              <label for="ouadmin">Project ID:</label>
              <input type="text" class="form-control" id="ouadmin">
            </div>
            <div class="form-group">
              <label for="ouadmin">API Key:</label>
              <input type="text" class="form-control" id="ouadmin">
            </div>
            <div class="form-group">
              <label for="ouadmin">Service Account Key:</label>
              <input type="text" class="form-control" id="ouadmin">
            </div>
            <button mat-raised-button color="primary" (click)="save()">Submit</button>
          </div>
        </div>
      </div>
    </div>
    <div *ngSwitchCase="'showSubContentThree'">
        <h4 class="page_name"> Subscription Detail</h4>
        <button mat-raised-button (click)="content='showMainContent'" style="margin-bottom: 10px">
            <mat-icon>keyboard_arrow_left</mat-icon>Back
        </button>
        <br>
        

    </div>
  </div>
</nb-card>