<div class="">
  <div class="br-pagetitle">
    <div>
      <h4>Dashboard</h4>
      <p class="mg-b-0"></p>
    </div>
  </div>

  <div class="br-pagebody">
    <div class="row row-sm">
      <div class="col-sm-6 col-xl-3">
        <div class="bg-info rounded overflow-hidden">
          <div class="pd-x-20 pd-t-20 d-flex align-items-center">
            <i class="ion ion-earth tx-60 lh-0 tx-white op-7"></i>
            <div class="mg-l-20">
              <p class="tx-10 tx-spacing-1 tx-mont tx-semibold tx-uppercase tx-white-8 mg-b-10">ORGANIZATIONS
              </p>
              <p class="tx-24 tx-white tx-lato tx-bold mg-b-0 lh-1">15</p>
            </div>
          </div>
          <div id="ch1" class="ht-50 tr-y-1"></div>
        </div>
      </div><!-- col-3 -->
      <div class="col-sm-6 col-xl-3 mg-t-20 mg-sm-t-0">
        <div class="bg-purple rounded overflow-hidden">
          <div class="pd-x-20 pd-t-20 d-flex align-items-center">
            <i class="ion ion-bag tx-60 lh-0 tx-white op-7"></i>
            <div class="mg-l-20">
              <p class="tx-10 tx-spacing-1 tx-mont tx-semibold tx-uppercase tx-white-8 mg-b-10">NEW TICKETS
              </p>
              <p class="tx-24 tx-white tx-lato tx-bold mg-b-0 lh-1">91</p>
            </div>
          </div>
          <div id="ch3" class="ht-50 tr-y-1"></div>
        </div>
      </div><!-- col-3 -->
      <div class="col-sm-6 col-xl-3 mg-t-20 mg-xl-t-0">
        <div class="bg-teal rounded overflow-hidden">
          <div class="pd-x-20 pd-t-20 d-flex align-items-center">
            <i class="ion ion-monitor tx-60 lh-0 tx-white op-7"></i>
            <div class="mg-l-20">
              <p class="tx-10 tx-spacing-1 tx-mont tx-semibold tx-uppercase tx-white-8 mg-b-10">TOTAL PROJECTS
              </p>
              <p class="tx-24 tx-white tx-lato tx-bold mg-b-0 lh-1">54</p>
            </div>
          </div>
          <div id="ch2" class="ht-50 tr-y-1"></div>
        </div>
      </div><!-- col-3 -->
      <div class="col-sm-6 col-xl-3 mg-t-20 mg-xl-t-0">
        <div class="bg-primary rounded overflow-hidden">
          <div class="pd-x-20 pd-t-20 d-flex align-items-center">
            <i class="nb-person tx-60 lh-0 tx-white op-7"></i>
            <div class="mg-l-20">
              <p class="tx-10 tx-spacing-1 tx-mont tx-semibold tx-uppercase tx-white-8 mg-b-10">RESOURCES
              </p>
              <p class="tx-24 tx-white tx-lato tx-bold mg-b-0 lh-1">3216</p>
            </div>
          </div>
          <div id="ch4" class="ht-50 tr-y-1"></div>
        </div>
      </div><!-- col-3 -->
    </div><!-- row -->
    <br>
    <div class="row">
  
    <div class="col-md-8">
      <div class="card shadow-base bd-0">
        <div class="card-header bg-transparent d-flex justify-content-between align-items-center">
          <h6 class="card-title tx-uppercase tx-12 mg-b-0">Sales</h6>
          <span class="tx-12 tx-uppercase"></span>
        </div><!-- card-header -->
        <div class="card-body d-xs-flex justify-content-between align-items-center">
          <canvas baseChart width="300" height="180" [datasets]="lineChartData" [labels]="lineChartLabels"
            [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
            [chartType]="lineChartType" [plugins]="lineChartPlugins" (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>

        </div><!-- card-body -->
      </div><!-- card -->
    </div><!-- col8--->
    <div class="col-md-4">
        <div class="card shadow-base bd-0">
          <div class="card-header bg-transparent d-flex justify-content-between align-items-center">
            <h6 class="card-title tx-uppercase tx-12 mg-b-0">Subscription</h6>
            <span class="tx-12 tx-uppercase"></span>
          </div><!-- card-header -->
          <div class="card-body d-xs-flex justify-content-between align-items-center">
            <canvas baseChart height="400" [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
              [options]="pieChartOptions" [colors]="pieChartColors" [legend]="pieChartLegend">
            </canvas>

          </div><!-- card-body -->
        </div><!-- card -->
        
      </div><!-- col-4 -->
  </div><br>
  <div class="row row-sm mg-t-20">
    <div class="col-sm-6 col-lg-4">
      <div class="card shadow-base bd-0">
        <div class="card-header bg-transparent d-flex justify-content-between align-items-center">
          <h6 class="card-title tx-uppercase tx-12 mg-b-0">Total Cost</h6>
          <span class="tx-12 tx-uppercase"></span>
        </div><!-- card-header -->
        <div class="card-body d-xs-flex justify-content-between align-items-center">
          <h4 class="mg-b-0 tx-inverse tx-lato tx-bold">$ 5,322,425</h4>
          <a href="#">
            <p class="mg-b-0 tx-sm"><span class="tx-danger"><i class="ion-chevron-right"></i>More info</span></p>
          </a>
        </div><!-- card-body -->
      </div><!-- card -->
    </div><!-- col-4 -->
    <div class="col-sm-6 col-lg-4 mg-t-20 mg-sm-t-0">
      <div class="card shadow-base bd-0">
        <div class="card-header bg-transparent d-flex justify-content-between align-items-center">
          <h6 class="card-title tx-uppercase tx-12 mg-b-0">Previous Cost</h6>
        </div><!-- card-header -->
        <div class="card-body d-xs-flex justify-content-between align-items-center">
          <h4 class="mg-b-0 tx-inverse tx-lato tx-bold">$3,006,983</h4>
          <a href="#">
            <p class="mg-b-0 tx-sm"><span class="tx-danger"><i class="ion-chevron-right"></i> More info</span></p>
          </a>
        </div><!-- card-body -->
      </div><!-- card -->
    </div><!-- col-4 -->
    <div class="col-sm-6 col-lg-4 mg-t-20 mg-lg-t-0">
      <div class="card shadow-base bd-0">
        <div class="card-header bg-transparent d-flex justify-content-between align-items-center">
          <h6 class="card-title tx-uppercase tx-12 mg-b-0">Total Consume Cost</h6>
        </div><!-- card-header -->
        <div class="card-body d-xs-flex justify-content-between align-items-center">
          <h4 class="mg-b-0 tx-inverse tx-lato tx-bold">$23,554,000</h4>
          <a href="#">
            <p class="mg-b-0 tx-sm"><span class="tx-success"><i class="ion-chevron-right"></i> More info</span></p>
          </a>
        </div><!-- card-body -->
      </div><!-- card -->
    </div><!-- col-4 -->
  </div><!-- row -->
  <br>
  <div class="row no-gutters widget-1 shadow-base">

    <div class="col-md-4 mg-t-1 mg-sm-t-0">
      <div class="card">
        <div class="card-header">
          <h6 class="card-title">Azure Cost </h6>
          <a href="#"><i class="icon ion-android-more-horizontal"></i></a>
        </div><!-- card-header -->
        <div class="card-body">
          <span class="tx-medium tx-inverse tx-32">$3,324</span>
        </div><!-- card-body -->
        <div class="card-footer">

          <a href="#">
            <p class="mg-b-0 tx-sm"><span class="tx-danger"><i class="ion-chevron-right"></i> More info</span></p>
          </a>
        </div><!-- card-footer -->
      </div><!-- card -->
    </div><!-- col-3 -->
    <div class="col-md-4 mg-t-1 mg-lg-t-0">
      <div class="card">
        <div class="card-header">
          <h6 class="card-title">Aws Cost</h6>
          <a href="#"><i class="icon ion-android-more-horizontal"></i></a>
        </div><!-- card-header -->
        <div class="card-body">
          <span>$12,324</span>
        </div><!-- card-body -->
        <div class="card-footer">
          <a href="#">
            <p class="mg-b-0 tx-sm"><span class="tx-danger"><i class="ion-chevron-right"></i> More info</span></p>
          </a>
        </div><!-- card-footer -->
      </div><!-- card -->
    </div><!-- col-3 -->
    <div class="col-md-4 mg-t-1 mg-lg-t-0">
      <div class="card">
        <div class="card-header">
          <h6 class="card-title">GCP Cost</h6>
          <a href="#"><i class="icon ion-android-more-horizontal"></i></a>
        </div><!-- card-header -->
        <div class="card-body">
          <span>$32,324</span>
        </div><!-- card-body -->
        <div class="card-footer">
          <a href="#">
            <p class="mg-b-0 tx-sm"><span class="tx-danger"><i class="ion-chevron-right"></i> More info</span></p>
          </a>
        </div><!-- card-footer -->
      </div><!-- card -->
    </div><!-- col-3 -->
  </div><!-- row -->

</div>
</div>